<a href="https://colab.research.google.com/github/Sathyakaarthi/Bootcamp-assignments-2022-2023/blob/main/Assignment15.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1. How many seconds are in an hour? Use the interactive interpreter as a calculator and multiply the number of seconds in a minute (60) by the number of minutes in an hour (also 60).**

In [6]:
print ("no. of seconds in an hour =", 60*60)

no. of seconds in an hour = 3600

**2. Assign the result from the previous task (seconds in an hour) to a variable called seconds_per_hour.**

In [11]:
seconds_per_hour = 3600
print (seconds_per_hour)

3600

**3. How many seconds do you think there are in a day? Make use of the variables seconds per hour and minutes per hour.**

In [21]:
minutes_per_hour = 60
seconds_per_hour = minutes_per_hour*60
print("Seconds in a hour is : ", seconds_per_hour)

seconds_per_hour*24

Seconds in a hour is :  3600

86400

**4. Calculate seconds per day again, but this time save the result in a variable called seconds_per_day**

In [22]:
seconds_per_day = seconds_per_hour*24
print("Seconds in a day is : ", seconds_per_day)

Seconds in a day is :  86400

**5. Divide seconds_per_day by seconds_per_hour. Use floating-point (/) division.**

In [23]:
seconds_per_day / seconds_per_hour

24.0

**6. Divide seconds_per_day by seconds_per_hour, using integer (//) division. Did this number agree with the floating-point value from the previous question, aside from the final .0?**

In [25]:
seconds_per_day // seconds_per_hour # The output number 24 agree with the floating-point value from the previous question, aside from the final .0

24

**7. Write a generator, genPrimes, that returns the sequence of prime numbers on successive calls to its next() method: 2, 3, 5, 7, 11, ...**

In [29]:
def genPrimes():
    
    prime_no = [ 2, 3, 5, 7, 11 ]
    
    def isPrimeNumber(n):
        if n in prime_no:
            return True
        
        for element in prime_no:
            if n % element == 0:
                return False
                
        prime_no.append(n)
        return True
    num = 1
    while True:
        num += 1
        if isPrimeNumber(num):
            next = num
            yield next
            num = next
PrimeNumber = genPrimes()
print("The prime numbers are: ")

for i in range(100):
    print(PrimeNumber.__next__())

The prime numbers are:
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199
211
223
227
229
233
239
241
251
257
263
269
271
277
281
283
293
307
311
313
317
331
337
347
349
353
359
367
373
379
383
389
397
401
409
419
421
431
433
439
443
449
457
461
463
467
479
487
491
499
503
509
521
523
541