<a href="https://colab.research.google.com/github/Sathyakaarthi/Bootcamp-assignments-2022-2023/blob/main/Preplacement_Assignment9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Question 1**

In [5]:
def power_of_two(n):
    if n == 1:
        return True
    elif n % 2 == 0:
        return power_of_two(n // 2)
    else:
        return False

print(power_of_two(1)) 
print(power_of_two(16))
print(power_of_two(3))

True
True
False

**Question 2**

In [8]:
def sum_of_natural_numbers(n):
    return (n * (n + 1)) // 2
num = 3
result = sum_of_natural_numbers(num)
print(result)
num = 5
result = sum_of_natural_numbers(num)
print(result)

6
15

**Question 3**

In [9]:
def factorial(n):
    if n < 0:
        return None 
    elif n == 0:
        return 1 
    else:
        result = 1
        for i in range(1, n + 1):
            result *= i
        return result

number = 5
result = factorial(number)
print(result)

number = 4
result = factorial(number)
print(result)

120
24

**Question 4**

In [11]:
def exponent(n, p):
    result = n ** p
    return result
n = 5
p = 2
result = exponent(n, p)
print(result) 
n = 2
p = 5
result = exponent(n, p)
print(result)

25
32

**Question 5**

In [15]:
def find_max(arr):
    if len(arr) == 1:
        return arr[0]
    else:
        return max(arr[0], find_max(arr[1:]))

arr = [1, 4, 3, -5, -4, 8, 6]
result = find_max(arr)
print(result) 
arr = [1, 4, 45, 6, 10, -8]
result = find_max(arr)
print(result)

8
45

**Question 6**

In [21]:
def nth_term_of_ap(a, d, n):
    nth_term = a + (n - 1) * d
    return nth_term

a = 2
d = 1
n = 5
result = nth_term_of_ap(a, d, n)
print("The 5th term of the series is :", result) 

a = 5
d = 2
n = 10
result = nth_term_of_ap(a, d, n)
print("The 10th term of the series is :", result)

The 5th term of the series is : 6
The 10th term of the series is : 23

**Question 7**

In [25]:
from itertools import permutations

def print_permutations(string):
    perm_list = permutations(string)
    for perm in perm_list:
        print(''.join(perm))

# Example usage:
input_str = 'ABC'
print ("Permutations of 'ABC'")
print_permutations(input_str)
input_str = 'XY'
print ("Permutations of 'XY'")
print_permutations(input_str)

Permutations of 'ABC'
ABC
ACB
BAC
BCA
CAB
CBA
Permutations of 'XY'
XY
YX

**Question 8**

In [29]:
def product_of_array(arr):
    product = 1
    for num in arr:
        product *= num
    return product

arr = [1, 2, 3, 4, 5]
result = product_of_array(arr)
print("product of all array elements.[1, 2, 3, 4, 5] :", result) 

arr = [1, 6, 3]
result = product_of_array(arr)
print("product of all array elements.[1, 6, 3] :", result)

product of all array elements.[1, 2, 3, 4, 5] : 120
product of all array elements.[1, 6, 3] : 18